body, p {
  padding: 20px;
  font-family: sans-serif;
  color: #333;
}

.logo {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}