/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url(http://fonts.googleapis.com/css?family=Lato);

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    font-family: 'Lato', sans-serif;
    color: #333;
}

p {
    color: rgb(94, 94, 94);
}

body {
    padding-bottom: 40px;
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 35px;
    text-align: center;
}

.controls {
    text-align: center;
}

button{
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 5px;
    position: relative;
}

button.play {
    background-color: rgb(103, 178, 78);
    min-width: 100px;
    border-radius: 0px 5px 5px 0px;
}

button.play:before {
    content: "";
    position: absolute;
    left: 38px;
    border: 8px solid transparent;
    border-width: 12px 30px;
    border-left-color: #FFFFFF;
    margin-top: -12px;
    background: transparent;
}

button.play:hover {
    background-color: rgb(126, 200, 101);
}

button.play:active {
    background-color: rgb(74, 145, 50);
}

button.stop {
    background-color: rgb(178, 78, 78);
    border-radius: 5px 0px 0px 5px;
}

button.stop:before {
    content: "";
    position: absolute;
    left: 15px;
    width: 21px;
    height: 21px;
    margin-top: -10px;
    background: white;
}

button.stop:hover {
    background-color: rgb(200, 106, 106);
}

button.stop:active {
    background-color: rgb(155, 58, 58);
}

button.pause:before {
    content: "";
    position: absolute;
    left: 40px;
    width: 6px;
    height: 21px;
    border: 4px solid #FFFFFF;
    border-width: 0px 7px;
    margin-top: -10px;
    background: transparent;
}

.slider {
    height: 30px;
    width: 390px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding: 0 10px;
    border-radius: 5px;
    border: solid 2px #D8D6D6;
}


.slider>label {
    width: 130px;
    display: block;
    float: left;
    margin-right: 10px;
    height: 30px;
    text-align: right;
    font-weight: bold;
    line-height: 24px;
    vertical-align: middle;
    color: #6B6969;
}

input[type="range"] {
    line-height: 30px;
    vertical-align: middle;
    width: 250px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}